[submodule "FRONT"]
	path = FRONT
	url = https://github.com/Projet-WEB-AL/FRONT
[submodule "BACK"]
	path = BACK
	url = https://github.com/Projet-WEB-AL/BACK
[submodule "Quarkus"]
	path = Quarkus
	url = https://github.com/Projet-WEB-AL/Quarkus
